
manual.aux
manual.dvi
manual.log
manual.out
manual.toc

manual.fdb_latexmk

manual.pdf
manual-book.pdf

dev-card.aux
dev-card.dvi
dev-card.log
dev-card.out
dev-card.toc

dev-card.fdb_latexmk

dev-card.pdf

*.png
!dev-*.png
dev-bitbucket.png
dev-hardware.png
